<div style="margin-top: 50px; text-align: center;">
  <input type="text" [(ngModel)]="filterText" placeholder="Wyszukaj po nazwie..." (input)="onFilterTextChange()" style="width: 300px; margin-bottom: 20px; padding: 8px; border-radius: 4px; border: 1px solid #ccc;">
  <input type="number" placeholder="Minimalna cena" [(ngModel)]="minPrice" (input)="onFilterTextChange()" style="margin-bottom: 10px;">
  <input type="number" placeholder="Maksymalna cena" [(ngModel)]="maxPrice" (input)="onFilterTextChange()" style="margin-bottom: 20px;">
  <div class="card-group" style="gap: 50px; margin-left: 1.8%;">
    <div *ngFor="let item of filteredItems$">
      <butik-item [image]="item.image" [rozmiar]="item.rozmiar" [title]="item.title" [price]="item.price" [id]="item.id">
      </butik-item>
    </div>
  </div>
</div>